# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.env
*.egg-info/

# Database
*.db
*.sqlite

# Excel files
*.xlsx

# Node
node_modules/
dist/
.DS_Store

# Env files
.env
.env.local
.env.production
